* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

#site_header nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
#site_header nav .nav-top {
  height: 15%;
  background: #0282f9;
}
#site_header nav .nav-top .nav-text {
  width: 60%;
  color: #fff;
  text-align: end;
  margin: auto;
  font-size: 9.25px;
  text-transform: uppercase;
  font-weight: 700;
}
#site_header nav .nav-top .nav-text p {
  display: inline-block;
}
#site_header nav .nav-top .nav-text .txt-left {
  width: 200px;
  text-align: left;
}
#site_header nav .nav-top .nav-text .fa-caret-down {
  font-size: 8px;
  cursor: pointer;
}
#site_header nav .nav-bot {
  display: flex;
  justify-content: space-evenly;
}
#site_header nav .nav-bot .nav-left {
  margin: 0.75rem;
}
#site_header nav .nav-bot .nav-left .logo img {
  width: 65px;
}
#site_header nav .nav-bot .nav-right {
  margin: 2rem 0 2.5rem 0;
  margin-left: -18rem;
  display: flex;
}
#site_header nav .nav-bot .nav-right ul {
  display: flex;
}
#site_header nav .nav-bot .nav-right ul li {
  list-style: none;
  padding: 0 0.5rem;
}
#site_header nav .nav-bot .nav-right ul li a {
  padding: 2rem 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #464646;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  transition: 0.35s;
}
#site_header nav .nav-bot .nav-right ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
#site_header nav .nav-bot .nav-right ul li a.active {
  color: #0282f9;
}
#site_header nav .nav-bot .nav-right ul li .fa-caret-down {
  font-size: 14px;
  color: #0282f9;
  cursor: pointer;
}
#site_header nav .nav-bot .nav-right .search-box {
  width: 8.11rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  border-bottom: 2.5px solid #0282f9;
}
#site_header nav .nav-bot .nav-right .search-box input {
  width: 7rem;
  height: 0.75rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #464646;
  outline: none;
  text-indent: 2rem;
  transition: 0.35s;
  border-style: none;
}
#site_header nav .nav-bot .nav-right .search-box input:focus {
  color: #0282f9;
}
#site_header nav .nav-bot .nav-right .search-box .fa-magnifying-glass {
  color: #464646;
  cursor: pointer;
}

/* MAIN */
img {
  width: 100%;
}

.container {
  overflow-x: hidden;
  margin: 0.25rem 0 0;
}
.container .content {
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.container .content .wrapper {
  width: 100%;
  margin: 4rem 0;
}
.container .content .wrapper .content-cards {
  display: flex;
  row-gap: 1rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 19%;
}
.container .content .wrapper .content-cards .content-card {
  width: calc(16.6666666667% - 2rem);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.container .content .wrapper .content-cards .content-card .content-card-img img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.container .content .wrapper .content-cards .content-card .content-card-text h4 {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 1rem 0;
  text-transform: uppercase;
}
.container .content .wrapper .btn button {
  border: none;
  background-color: #0282f9;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  position: absolute;
  bottom: 1rem;
  left: 45%;
  z-index: 2;
}
.container .content h3 {
  color: #fff;
  margin-left: 20%;
  font-size: 24px;
}
.container .info-buy {
  width: 100%;
  background-color: #0282f9;
  z-index: 1;
  /* /.cards */
}
.container .info-buy .cards {
  margin: 0 20%;
  display: flex;
  justify-content: space-evenly;
  /* /.card */
}
.container .info-buy .cards .card {
  display: flex;
  padding: 3rem 0;
  align-items: center;
}
.container .info-buy .cards .card .card-img {
  text-align: center;
}
.container .info-buy .cards .card .card-img img {
  height: 40px;
}
.container .info-buy .cards .card .visa-img {
  width: 45px;
}
.container .info-buy .cards .card .card-text {
  margin: 1rem;
}
.container .info-buy .cards .card .card-text p {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}

.jumbo {
  position: relative;
  width: 100%;
  aspect-ratio: 1/0.21;
  background-image: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}
.jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.jumbo button {
  border: none;
  background-color: #0282f9;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  position: absolute;
  bottom: -1rem;
  left: 18%;
  z-index: 2;
}

/* FOOTER */
.container {
  width: 100%;
  background-color: #ddd;
  background-image: url("../img/footer-bg.jpg");
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  margin-top: 0rem;
}
.container .info-top {
  display: flex;
  overflow-y: hidden;
}
.container .info-top .infos {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  padding-top: 2.5rem;
  margin-left: 18%;
  margin-right: 5rem;
}
.container .info-top .infos .info {
  margin-right: 1.75rem;
}
.container .info-top .infos .info h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0.3rem;
}
.container .info-top .infos .info ul {
  list-style: none;
}
.container .info-top .infos .info ul li a {
  text-decoration: none;
  color: #959595;
  font-size: 12px;
}
.container .info-top .infos .up {
  margin-top: -7.5rem;
}
.container .info-top .footer-logo .logo {
  width: 450px;
  margin-top: -4.6rem;
}
.container .info-bot {
  width: 100%;
  height: 100px;
  background-color: #303030;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
}
.container .info-bot .foot-left {
  margin-right: 10rem;
  margin-left: 3rem;
  padding: 2.5rem;
}
.container .info-bot .foot-left a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0.75rem;
  border: 2px solid #0282f9;
  font-weight: 500;
}
.container .info-bot .foot-right .contacts {
  display: flex;
  color: #0282f9;
  font-size: 18px;
  text-transform: uppercase;
}
.container .info-bot .foot-right .contacts h3 {
  padding: 2.25rem 0.5rem 2rem 0;
}
.container .info-bot .foot-right .contacts ul {
  display: flex;
}
.container .info-bot .foot-right .contacts ul li {
  list-style: none;
  padding: 2.25rem 0.45rem;
}
.container .info-bot .foot-right .contacts ul li img {
  width: 28px;
}